@import "./variables.scss";

.cardContainer {
  max-width: calc((100% - 120px) / 3);
  position: relative;
}

.cardTitle {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: $white;
  z-index: 1;
}

.cardCover {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  position: relative;
}

.cardContainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
}