@import "./variables.scss";

.collapseTitle {
  background-color: $primary-color;
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 15px;
  border-radius: 5px;
  font-size: $font-size-m;
}

.collapseContent {
  background-color: $light-gray;
  border-radius: 0 0 5px 5px;
  padding: 0;
  max-height: 0;
  opacity: 0;
  transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out, padding 600ms linear;
}

.visible {
  max-height: 1000px;
  opacity: 1;
  padding: 20px;
}

.invisible {
  max-height: 0;
  opacity: 0;
}

.collapseContainer {
  margin: 0 208px 30px 208px;
}

.icon {
  transform: rotate(0deg);
  transition: transform 300ms ease-in-out;
}

.rotation {
  transform: rotate(-180deg);
}