// Variables de couleurs
$primary-color: #ff6060;
$light-gray: #F6F6F6;
$grey: #C4C4C4;
$white: #ffffff;
$black: #000000;

// Typographie
$font-family: "Montserrat";
$font-size-s: 18px;
$font-size-m: 24px;
$font-size-h1: 48px;