// Variables de couleurs
$primary-color: #ff6060;
$light-gray: #f6f6f6;
$grey: #c4c4c4;
$white: #ffffff;
$black: #000000;

// Typographie
$font-family: "Montserrat";
$font-size-xs: 12px;
$font-size-s: 18px;
$font-size-m: 24px;
$font-size-l: 36px;
$font-size-xl: 48px;
