@import "../../styles/main.scss";

.aboutCollapsesContainer {
  margin: 0 208px 38px 208px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 1023.98px) {
  .aboutCollapsesContainer {
    margin: 0 20px 19px 20px;
    gap: 20px;
  }
}
