@import "../../styles/main.scss";

.header {
  margin: 45px 100px 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .headerUl {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }
  a {
    font-weight: 500;
    font-size: $font-size-m;
  }
  .active {
    text-decoration: underline;
  }
}
