@import "../styles/main.scss";

.collapseTitle {
  background-color: $primary-color;
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  .icon {
    transform: rotate(0deg);
    transition: transform 300ms ease-in-out;
    width: 24px;
  }
  .rotation {
    transform: rotate(-180deg);
  }
}
.collapseContent {
  background-color: $light-gray;
  border-radius: 0 0 5px 5px;
  padding: 0;
  max-height: 0;
  opacity: 0;
  transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out, padding 600ms linear;
}
.visible {
  max-height: 1000px;
  opacity: 1;
  padding: 20px;
}
.invisible {
  max-height: 0;
  opacity: 0;
}

.aboutPage {
  .collapseTitle {
    height: 54px;
    padding-inline: 15px 24px;
    h3 {
      font-size: $font-size-m;
    }
  }
}

.accommodationPage {
  .collapseContainer {
    flex: 1;
  }
  .collapseTitle {
    height: 52px;
    padding-inline: 10px 24px;
    h3 {
      font-size: $font-size-s;
    }
  }
}

@media (max-width: 1023.98px) {
  .collapseTitle {
    .icon {
      width: 16px;
    }
  }
  .aboutPage {
    .collapseTitle {
      height: 30px;
      padding-inline: 10px 12px;
      h3 {
        font-size: 13px;
      }
    }
    .collapseContent {
      font-size: 12px;
    }
  }
  .accommodationPage {
    .collapseTitle {
      height: 30px;
      padding-inline: 10px 12px;
      h3 {
        font-size: 13px;
      }
    }
    .collapseContent {
      font-size: $font-size-xs;
    }
  }
}
